res/Faces
res/combined_faces
res/test_data/videos/smile.mp4
Codes/.ipynb_checkpoints
res/Data/target.npy
res/Data/data.npy
res/Data/cat_dict.pkl
res/Models/modelAgeGender.h5
res/test_data/adult-braces-brighton-and-hove-1.jpg
res/test_data/Find-Child-Care2.jpg
res/test_data/videos/vid.mp4
